html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("diner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* TITLE */
h1 { font-family: Irish Grover, sans-serif; 
    font-size: 100px; 
    margin: 0;
    } 

.box {
    width: 100%;
    background-color: black;
    padding: 20px;
    text-align: left;
    padding-left: 150px;
}

.title-text {
    color: red;
    animation: flicker 3s linear infinite;
}

@keyframes flicker{ 
    0%, 19.9%, 22%, 62.9%, 64%, 70%, 100% { 
        opacity: 0.99; 
        text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 
        1px -1px 0 rgba(255, 255, 255, 0.4), 
        -1px 1px 0 rgba(255, 255, 255, 0.4), 
        1px 1px 0 rgba(255, 255, 255, 0.4), 
        0 2px 8px, 
        0 0 2px, 
        0 0 5px #fff, 
        0 0 15px #fff, 
        0 0 2px #fff, 
        0 2px 3px #000; } 
    20%, 21.9%, 63%, 65%, 69.9%{ 
        opacity: 0.4; 
        text-shadow: none; 
    } }
/* FOOD */
.food {
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
}

.food:hover {
    transform: scale(1.1);
}

/* POSITIONS */
.hamburger { 
    bottom:200px; 
    right:600px; 
    width: 250px;}

.fries { 
    bottom:20px; 
    right:600px; 
    width: 250px}

.milkshake { 
    bottom:100px; 
    right:350px;
    width: 400px; }

.soda { 
    bottom:100px; 
    left:450px; 
    width: 250px;}

.ketchup { 
    bottom:60px; 
    left:180px;
    width:155px; }

.mustard { 
    bottom:65px; 
    left:350px; 
    width: 130px;}

/* RECEIPT */
.receipt-container {
    position: absolute;
    width: 300px;
    top: 20px;
    right: 20px;
}

.receipt {
    width: 100%;
}

.receipt-content {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    text-align: left;
    font-family: monospace;
    color: black;
    font-size: 20px;
}

#centered {
    text-align: center;
}

#receipt p {
    margin: 5px 0;
}

/* TIMER */
#timer {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

/* Score */
#score{
    font-size: 30px;
}