html, body{
    height: 100%;
    margin: 0;
}

body {
    background-image: url("diner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: Irish Grover, sans-serif;
    font-size: 90px;
}

.food {
    position: absolute; 
}

.hamburger {
    bottom:200px; 
    right: 600px; 
}

.fries {
    bottom: 20px;
    right: 600px;
}

.milkshake {
    bottom: 100px;
    right: 350px;
}

.soda {
    bottom: 100px;
    left: 450px;
}

.ketchup {
    bottom: 60px;
    left: 180px;
}

.mustard {
    bottom: 65px;
    left: 350px;
}

