html, body{
    height: 100%;
    margin: 0;
}

body {
    background-image: url("diner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.food {
    position: absolute; 
}

.hamburger {
    bottom:250px; 
    right: 600px; 
}

